**/.hitl
.gradle/
build/
!customer-service-deployment/helm-charts/customer-service/charts/*.tgz
.hitl/

# Claude Code
.claude/settings.local.json

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
bin

ci-artifacts/
bin/

# OS
.DS_Store
Thumbs.db
**/charts/*.tgz
